* {
    margin: 0 auto;
}

body {
    min-width: 1280px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #000;
}

a:hover {
    color: #FF0004;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

label {
    font-weight: normal
}

.btn-close {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.btn-close > span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #999999;
    border-radius: 1px;
}

.btn-close > span:first-child {
    transform-origin: 0 50%;
    transform: translate(1px, 1px) rotate(45deg);
}

.btn-close > span:last-child {
    transform-origin: 100% 50%;
    transform: translate(-5px, 1px) rotate(-45deg);
}